SELECT id, email, name, role, can_access_dashboard, can_access_briefings, can_access_codes, can_access_projects, can_access_expenses, can_access_crm, can_access_users FROM users WHERE email = 'admin@webdesign.com';
